﻿@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

        .typo-line .category {
            transform: translateY(-50%);
            top: 50%;
            left: 0px;
            position: absolute;
        }
}

.btnObtener {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

    .tim-typo .tim-note {
        bottom: 10px;
        color: #c0c1c2;
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        left: 0;
        margin-left: 20px;
        position: absolute;
        width: 260px;
    }

.tim-row {
    padding-top: 50px;
}

    .tim-row h3 {
        margin-top: 0;
    }

.fixed-plugin li > a,
.fixed-plugin .badge {
    transition: all .34s;
    -webkit-transition: all .34s;
    -moz-transition: all .34s;
}

.fixed-plugin {
    position: fixed;
    top: 180px;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}

    .fixed-plugin .fa-cog {
        color: #FFFFFF;
        padding: 10px;
        border-radius: 0 0 6px 6px;
        width: auto;
    }

    .fixed-plugin .dropdown-menu {
        right: 80px;
        left: auto;
        width: 290px;
        border-radius: 10px;
        padding: 0 10px;
    }

        .fixed-plugin .dropdown-menu:after, .fixed-plugin .dropdown-menu:before {
            right: 10px;
            margin-left: auto;
            left: auto;
        }

    .fixed-plugin .fa-circle-thin {
        color: #FFFFFF;
    }

    .fixed-plugin .active .fa-circle-thin {
        color: #00bbff;
    }

    .fixed-plugin .dropdown-menu > .active > a,
    .fixed-plugin .dropdown-menu > .active > a:hover,
    .fixed-plugin .dropdown-menu > .active > a:focus {
        color: #777777;
        text-align: center;
    }

    .fixed-plugin img {
        border-radius: 0;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    .fixed-plugin .dropdown-menu li > a:hover,
    .fixed-plugin .dropdown-menu li > a:focus {
        box-shadow: none;
    }

    .fixed-plugin .badge {
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 23px;
        margin-right: 5px;
        position: relative;
        width: 23px;
    }

        .fixed-plugin .badge.active,
        .fixed-plugin .badge:hover {
            border-color: #00bbff;
        }

    .fixed-plugin .badge-blue {
        background-color: #00bcd4;
    }

    .fixed-plugin .badge-green {
        background-color: #4caf50;
    }

    .fixed-plugin .badge-orange {
        background-color: #ff9800;
    }

    .fixed-plugin .badge-purple {
        background-color: #9c27b0;
    }

    .fixed-plugin .badge-red {
        background-color: #f44336;
    }

    .fixed-plugin .badge-rose {
        background-color: #e91e63;
    }

    .fixed-plugin .badge-black {
        background-color: #000;
    }

    .fixed-plugin .badge-white {
        background-color: rgba(200, 200, 200, 0.2);
    }

    .fixed-plugin h5 {
        font-size: 14px;
        margin: 10px;
    }

    .fixed-plugin .dropdown-menu li {
        display: block;
        padding: 5px 2px;
        width: 25%;
        float: left;
    }

    .fixed-plugin li.adjustments-line,
    .fixed-plugin li.header-title,
    .fixed-plugin li.button-container {
        width: 100%;
        height: 50px;
        min-height: inherit;
    }

    .fixed-plugin li.button-container {
        height: auto;
    }

        .fixed-plugin li.button-container div {
            margin-bottom: 5px;
        }

    .fixed-plugin #sharrreTitle {
        text-align: center;
        padding: 10px 0;
        height: 50px;
    }

    .fixed-plugin li.header-title {
        height: 30px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .fixed-plugin .adjustments-line p {
        float: left;
        display: inline-block;
        margin-bottom: 0;
        font-size: 1em;
        color: #3C4858;
    }

    .fixed-plugin .adjustments-line a .badge-colors {
        position: relative;
        top: -2px;
    }

    .fixed-plugin .adjustments-line .togglebutton {
        float: right;
    }

        .fixed-plugin .adjustments-line .togglebutton .toggle {
            margin-right: 0;
        }

    .fixed-plugin .dropdown-menu > li.adjustments-line > a {
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        margin: 0;
    }

    .fixed-plugin .dropdown-menu > li > a.img-holder {
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
        background-color: #FFF;
        border: 3px solid #FFF;
        padding-left: 0;
        padding-right: 0;
        opacity: 1;
        cursor: pointer;
        max-height: 100px;
        overflow: hidden;
        padding: 0;
    }

    .fixed-plugin .dropdown-menu > li > a.switch-trigger:hover,
    .fixed-plugin .dropdown-menu > li > a.switch-trigger:focus {
        background-color: transparent;
    }

    .fixed-plugin .dropdown-menu > li:hover > a.img-holder,
    .fixed-plugin .dropdown-menu > li:focus > a.img-holder {
        border-color: rgba(0, 187, 255, 0.53);
        ;
    }

    .fixed-plugin .dropdown-menu > .active > a.img-holder,
    .fixed-plugin .dropdown-menu > .active > a.img-holder {
        border-color: #00bbff;
        background-color: #FFFFFF;
    }

    .fixed-plugin .dropdown-menu > li > a img {
        margin-top: auto;
    }

    .fixed-plugin .btn-social {
        width: 50%;
        display: block;
        width: 48%;
        float: left;
        font-weight: 600;
    }

        .fixed-plugin .btn-social i {
            margin-right: 5px;
        }

        .fixed-plugin .btn-social:first-child {
            margin-right: 2%;
        }

    .fixed-plugin .dropdown .dropdown-menu {
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        transform: translateY(-15%);
        top: 27px;
        opacity: 0;
        transform-origin: 0 0;
    }

    .fixed-plugin .dropdown.open .dropdown-menu {
        opacity: 1;
        -webkit-transform: translateY(-13%);
        -moz-transform: translateY(-13%);
        -o-transform: translateY(-13%);
        -ms-transform: translateY(-13%);
        transform: translateY(-13%);
        transform-origin: 0 0;
    }

    .fixed-plugin .dropdown-menu:before,
    .fixed-plugin .dropdown-menu:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 78px;
        width: 16px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }

    .fixed-plugin .dropdown-menu:before {
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid rgba(0,0,0,0.2);
        border-top: 16px solid rgba(0,0,0,0);
        right: -17px;
    }

    .fixed-plugin .dropdown-menu:after {
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid #FFFFFF;
        border-top: 16px solid rgba(0,0,0,0);
        right: -16px;
    }

.wrapper-full-page ~ .fixed-plugin .dropdown.open .dropdown-menu {
    -webkit-transform: translateY(-17%);
    -moz-transform: translateY(-17%);
    -o-transform: translateY(-17%);
    -ms-transform: translateY(-17%);
    transform: translateY(-17%);
}

.wrapper-full-page ~ .fixed-plugin .dropdown .dropdown-menu {
    -webkit-transform: translateY(-19%);
    -moz-transform: translateY(-19%);
    -o-transform: translateY(-19%);
    -ms-transform: translateY(-19%);
    transform: translateY(-19%);
}

.fixed-plugin {
    top: 120px;
}



/*------------------Estilos COMISIONES MLM---------------------*/
.select2-container .select2-dropdown {
    z-index: 99;
}
.bloqueDetalleComision {
    background: #fff;
    margin-top: 0;
    padding-top: 120px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-around;
}
.bloqueDetalleComision label{
    margin: 0
}

    .bloqueDetalleComision .card [data-background-color] {
        padding: 1em;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left {
        flex-grow: 1;
    }

        .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: unset;
            grid-row-gap: 20px;
            margin: auto;
        }

            .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__pais,
            .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__periodo {
                display: flex;
                justify-content: space-between;
                column-gap: 5px;
                align-items: center;
            }

            .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__consultar {
                display: flex;
                justify-content: center;
            }

                .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__consultar .btnObtener {
                    transition: .3s ease-out background-color, .3s ease-out color;
                }

                    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__consultar .btnObtener:focus {
                        outline: none;
                    }


                    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__consultar .btnObtener:focus:active {
                        background-color: #474747;
                        color: white;
                    }

                    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo .divConsultarXPaisPeriodo__consultar .btnObtener:hover {
                        background-color: #999999;
                        color: white;
                    }

        .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision {
            width: 90%;
            display: flex;
            flex-direction: row;
            margin: 40px auto 0;
            grid-gap: 70px;
        }


            .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel {
                display: flex;
                flex-direction: column;
                height: fit-content;
                grid-row-gap: 10px;
                position: sticky;
                top: 80px;
                width: 40%;
            }

            .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .bloqueFastStartAndBonoUnilevel {
                width: 60%;
            }

            .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel .titulo {
                font-size: 1.6em;
                width: 100%;
                text-align: start;
                font-weight: 400;
                line-height: 1.2;
                margin: auto
            }

                .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel .comisionTotal{
                    display: flex;
                    justify-content: center
                }

                    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel .comisionTotal p {
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 10px;
                        font-family: system-ui;
                        font-size: 2em
                    }




    .bloqueDetalleComision .bloqueDetalleComision__right {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 50px auto;
        grid-gap: 70px;
        flex-wrap: wrap;
        justify-content: center;
    }

        .bloqueDetalleComision .bloqueDetalleComision__right .bloqueDetalleComision__right__detalleComiVentaDirecta {
            width: 100%;
            display: flex;
            flex-basis: 37.4%;
        }

            .bloqueDetalleComision .bloqueDetalleComision__right .bloqueDetalleComision__right__detalleComiVentaDirecta .divTablasDetalleComision__VentaDirecta {
                width: 100%;
                grid-row-gap: 10px;
                display: flex;
                flex-direction: column;
            }

                .bloqueDetalleComision .bloqueDetalleComision__right .bloqueDetalleComision__right__detalleComiVentaDirecta .divTablasDetalleComision__VentaDirecta h1 {
                    font-size: 1.6em;
                    font-weight: 400;
                    line-height: 1.2;
                }

                .bloqueDetalleComision .bloqueDetalleComision__right .bloqueDetalleComision__right__detalleComiVentaDirecta .divTablasDetalleComision__VentaDirecta .comisionTotal {
                    display: flex;
                    justify-content: center
                }

                    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueDetalleComision__right__detalleComiVentaDirecta .divTablasDetalleComision__VentaDirecta .comisionTotal p {
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 10px;
                        font-family: 'Dancing Script', cursive;
                        font-size: 2em;
                    }


        .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevelVentaDirecta {
            width: 60%;
            max-width: 60%;
            flex: 50%;
            display: flex;
            flex-basis: 50%;
            margin: auto;
        }

        .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 100%;
            grid-gap: 20px;
        }

            .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal p:not(.parrafoImportante) {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
                font-family: system-ui, cursive;
                font-size: 2.2em;
                text-align: center;
            }
            .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal span.igv,
            .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal span.valorIGV {
                text-align: center;
                font-family: system-ui, cursive;
                font-size: 1.6em;
                /*font-weight: bold;*/
            }
            .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal .parrafoImportante {
                margin: auto;
                width: 60%;
                max-width: 600px;
                text-align: justify;
                font-weight: bold;
            }


.detalleComisionVentaDirecta {
    margin-top: 60px;
}

#bloqueBono2 table tr:not(:nth-child(1)) th {
    font-weight: 400;
}

#bloqueRow .table-striped > tbody > tr:nth-last-child(1) {
    background-color: #fff;
}

.bloqueFastStartAndBonoUnilevel .table .td-price,
.bloqueBonoUnilevelVentaDirecta .table .td-price {
    font-size: 1.6em;
}

@media (min-width: 1910px) {
    .bloqueDetalleComision {
        /*width: 80%;
        margin: auto;*/
        padding-right: 215px;
        padding-left: 215px;
    }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
        width: 40%;
    }

}

@media (min-width: 993px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

        .typo-line .category {
            transform: translateY(-50%);
            top: 50%;
            left: 0px;
            position: absolute;
        }
}

@media (max-width: 992px) {

    .wrapper-full-page ~ .fixed-plugin .dropdown-menu:after,
    .wrapper-full-page ~ .fixed-plugin .dropdown-menu:before {
        top: 99px;
    }

    .wrapper-full-page ~ .fixed-plugin .adjustments-line a .badge-colors {
        top: 3px;
    }

    .wrapper-full-page ~ .fixed-plugin .adjustments-line + .header-title {
        margin-top: 15px;
    }

    .fixed-plugin .dropdown-menu {
        right: 81px;
        width: 250px;
    }

    .fixed-plugin li.button-container {
        height: auto;
    }

    .fixed-plugin .adjustments-line .switch {
        float: right;
        margin: 0 0px;
    }

    .fixed-plugin li.header-title {
        height: 40px;
    }

    .fixed-plugin .dropdown .dropdown-menu {
        top: 10px;
    }

    .fixed-plugin .dropdown-menu:after,
    .fixed-plugin .dropdown-menu:before {
        top: 96px;
    }

    .fixed-plugin .dropdown-menu > li > a.img-holder {
        max-height: 75px;
    }

    .fixed-plugin {
        top: 80px;
    }

    /*----------------------------*/
    .bloqueDetalleComision {
        font-size: 12px;
    }

        .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
            width: 35% !important;
        }
    /*-----------------*/
    #bloqueBono1 .customers td,
    #bloqueBono2 .customers td {
        min-width: 100%;
        width: 30%;
    }

    .card .card-title:not(.card-calendar .card-title) {
        font-size: 1.6em !important;
    }

    /*-----------------*/
    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevelVentaDirecta {
        max-width: 80% !important;
    }
}

#bloqueCombitoyButton {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 30px;
}

#bloqueCombitoyButtonPeriodoVQ {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 30px;
}

#bloqueRetencion {
    display: flex;
    justify-content: center
}


@media screen and (max-width: 768px) {
    .bloqueDetalleComision {
        flex-direction: column;
        grid-row-gap: 60px;
    }
        .bloqueDetalleComision .bloqueDetalleComision__right .bloqueFastStart,
        .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevel,
        .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevelVentaDirecta {
            width: 70%;
            margin: auto;
        }


        .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal {
            margin-top: -60px;
        }
}

@media (max-width: 721px) {

    .bloqueDetalleComision {
        font-size: 10px;
        grid-row-gap: 20px;
    }

        .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
            width: 40% !important;
        }

    /*-----------------*/
    .divTablasDetalleComision,
    #bloqueDetalleComision .bloqueDetalleComision__right {
        width: 100% !important;
        grid-column-gap: 20px !important;
        grid-row-gap: 60px !important;
    }

    .card .card-title:not(.card-calendar .card-title) {
        font-size: 1.4em !important;
    }

    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevelVentaDirecta {
        max-width: 58% !important;
    }
}


@media (max-width: 592px) {
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision {
        flex-wrap: wrap;
        justify-content: center;
    }

        .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel {
            position: relative !important;
            top: 0 !important;
            width: 60% !important;
        }

    .divTablasDetalleComision {
        grid-gap: 50px !important;
    }

    .bloqueFastStartAndBonoUnilevel {
        width: 80% !important;
    }

    .divTablasDetalleComision__VentaDirecta {
        width: 80% !important;
        margin: auto;
    }

    #bloqueDetalleComision .bloqueDetalleComision__right {
        flex-direction: column !important;
        align-items: center;
        grid-gap: 30px !important;
    }
}

@media screen and (max-device-width: 499px) {
    .select2-container {
        width: 200px !important
    }

    #colouredLineChart {
        margin-left: 0 !important
    }

    #idColouredBarsChart {
        display: block !important
    }

    #DetalleDeComision {
        padding-top: 25px;
        width: 100%;
    }

    #efectoGusanito {
        margin-top: 30px;
    }

    #bloqueRow {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    #bloqueFastStart {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #bloqueBonoUnilevel {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #bloqueRetencion {
        display: block
    }

    #bloqueBono1 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #bloqueBono2 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }



    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel {
        width: 80% !important;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel .titulo,
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__VentaDirecta .titulo {
        font-size: 1.6em;
        min-width: 90%;
    }
    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
        width: 70%;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision {
        width: 90%;
        grid-row-gap: 60px;
    }
        .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel,
        .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__VentaDirecta {
            padding: 0 30px;
        }
    .divTablasDetalleComision__Multinivel .customers td,
    .divTablasDetalleComision__VentaDirecta .customers td {
        min-width: 80px;
        font-size: 0.8em;
    }
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .comisionGlobal {
        margin-top: 0;
    }

    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueFastStart, 
    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevel, 
    .bloqueDetalleComision .bloqueDetalleComision__right .bloqueBonoUnilevelVentaDirecta{
        width: 100%;
    }
    .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal {
        margin-top: -100px;
    }
    .bloqueDetalleComision .bloqueDetalleComision__right .comisionGlobal span {
        width: 80%;
    }
    .customers th {
        font-size: 0.8em;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel .comisionTotal p, .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__VentaDirecta .comisionTotal p {
        font-size: 1.4em;
    }
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .comisionGlobal p {
        font-size: 1.5em;
    }
    .bloqueDetalleComision {
        grid-row-gap: 80px;
    }


    .card .card-title:not(.card-calendar .card-title) {
        font-size: 1.6em;
    }
    .table > thead:first-child > tr:first-child > th {
        font-size: 1.2em;
    }
    .table.table-striped .td-total {
        font-size: 1em;
    }
}


/*------------------------------------------*/
@media (max-width: 992px) and (min-width: 500px) {
    #idColouredBarsChart .col-md-7 {
        width: 100%;
    }

    #colouredLineChart {
        margin-left: 0 !important;
    }

    #bloqueFastStart, #bloqueBonoUnilevel {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 320px){
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__Multinivel,
    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .divTablasDetalleComision__VentaDirecta {
        padding: 0;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left .divConsultarXPaisPeriodo {
        width: 90%;
    }
    #bloqueRow {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .bloqueDetalleComision__right .card .card-content {
        padding: 15px 10px;
    }

    .bloqueDetalleComision__right tbody {
        font-size: 0.8em;
    }

    .table > thead:first-child > tr:first-child > th {
        font-size: 0.9em;
    }

    .bloqueDetalleComision .bloqueDetalleComision__left .divTablasDetalleComision .comisionGlobal p {
        display: flex;
        align-items: center;
        grid-gap: 15%;
        margin: 0;
    }
    .card .card-title:not(.card-calendar .card-title) {
        font-size: 1.3em;
    }
}
