﻿.cabinaCali {
    margin-top: 70px;
    margin: 70px auto 0;
    max-width: 1440px;
}

.cabinaCali__titulo {
    padding: 34px 100px 43px;
}

    .cabinaCali__titulo p {
        color: var(--Dark-grises);
        font-family: system-ui;
        font-weight: 700;
        font-size: 25px;
        margin: 0
    }

.cabinaCali__contenido {
    border: 1px solid rgba(126, 224, 255, 0.47);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin: 0 100px 153px;
}

.progresoRango__titulo {
    margin-top: 58px;
}

    .progresoRango__titulo p {
        color: var(--Dark-grises);
        font-family: system-ui;
        font-size: 25px;
        font-weight: 700;
        width: fit-content;
        margin: auto;
    }

.progresoRango__semiCirculo {
    margin-top: 32px;
}

/*Para el Semir Circular Progress*/
.circular-progress {
    margin: auto;
    margin-bottom: -160px;
    position: relative;
    z-index: -1;
}

    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 40rem;
        height: 40rem;
        border-radius: 50%;
    }

    .circular-progress:before, .circular-progress:after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

        .circular-progress:before {
            padding: 1em;
            box-sizing: border-box;
            font-size: 5rem;
            line-height: 25rem;
        }

        .circular-progress:after {
            line-height: 50rem;
        }

.rango {
    /*transform: rotate(90deg);*/
    background: linear-gradient( 0deg, var(--Primary-purple) 50%, #fff 50%);
    box-shadow: 0px 0px 7px rgba(0,0,0, 0.25);
}

    .rango:before {
        content: "";
        background: #fff content-box;
        /*transform: rotate(-90deg);*/
        color: var(--Primary-purple);
        font-weight: 700
    }
    .rango:after {
        content: "";
        background: linear-gradient(transparent 50%, #fff 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 2.5rem;
        color: var(--Primary-purple);
        font-weight: 700
    }

/*Para la tabla de Cabina Calificación*/
.tablaInfoProgreso {
    width: max-content;
    margin: 70px auto 61px;
}

.table-bordered {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        border-bottom-width: 0 !important;
    }

        .table-bordered > thead > tr > th:nth-child(1) {
            border-right: 2px solid var(--Dark-secundary);
        }

        .table-bordered > thead > tr > th:nth-child(2) {
            border-right: 2px solid var(--Dark-secundary);
        }

    .table-bordered > tbody {
        border: 1.3px solid var(--Dark-secundary);
    }
        .table-bordered > tbody > tr > td:not(:last-child) {
            border-right: 2px solid var(--Dark-secundary);
        }
        /*.table-bordered > tbody > tr > td:nth-child(1) {
            border-right: 2px solid var(--Lightest-primary);
        }
        .table-bordered > tbody > tr > td:nth-child(2) {
            border-right: 2px solid var(--Lightest-primary);
        }*/

        .table-bordered > tbody > tr:not(:last-child) {
            border-bottom: 1.1px solid var(--Dark-secundary);
        }



    .table-bordered > thead > tr > th {
        background-color: var(--Light-purple);
        color: white;
        text-align: center;
        font-family: system-ui;
        font-weight: 700;
        font-size: 19px;
        padding: 13px 42px;
    }

    .table-bordered > thead > tr > th p {
        margin: 0;
    }
        .table-bordered > thead > tr > th p.thead__valor {
            font-family: system-ui;
            font-weight: 400;
        }

    .table-bordered > tbody > tr > td {
        color: var(--Dark-grises);
        font-weight: 700;
        text-align: center;
        font-family: system-ui;
        font-size: 19px;
        padding: 10px 45px;
        line-height: 1.59;
        max-width: 311px;
    }

    .table-bordered > tbody > tr > td p {
        margin: 0;
    }


        .table-bordered > tbody > tr > td p.tbody__titulo {
            color: #3A3A3A;
            font-family: system-ui;
            font-weight: 400;
            font-size: 15px;
        }

    .table-bordered > tbody > tr .tbody__valorProgreso {
        font-size: 23px;
    }

    table caption {
        padding: .5em 0;
    }

@media (max-width: 900px){
    .cabinaCali__titulo {
        padding: 34px 40px 43px;
    }
    .cabinaCali__contenido {
        margin: 0 20px 153px;
    }
}
@media screen and (max-width: 787px) {
    .tablaInfoProgreso {
        width: 100%;
        /* margin-bottom: 15px; */
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 30rem;
        height: 30rem;
    }
    .circular-progress {
        margin-bottom: -40px;
    }

        .circular-progress:before {
            font-size: 4rem;
            line-height: 17rem;
            padding: 1.2em;
        }

        .circular-progress:after {
            line-height: 45rem;
        }

    .rango:after {
        font-size: 2.3rem;
    }
}
@media (min-device-width: 541px) and (max-device-width: 768px) {
    .tablaInfoProgreso {
        width: max-content;
    }
    .table-bordered > thead > tr > th:nth-child(2) {
        border-right: 2px solid var(--Dark-secundary);
        width: 124px;
    }
}
@media screen and (max-width: 591px) {
    .progresoRango {
        border: 1px solid rgba(126, 224, 255, 0.47);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        padding: 21px 55px;
    }
    .cabinaCali__titulo {
        padding: 34px 72px 28px;
        font-size: 22px;
    }
    .cabinaCali__contenido {
        border: none;
        box-shadow: none;
        margin: 0 41px 41px;
    }
    .progresoRango__titulo {
        margin-top: 0;
    }
        .progresoRango__titulo p {
            font-size: 22px;
            color: var(--Dark-grises);
            line-height: 1;
        }
    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 25rem;
        height: 25rem;
    }
    .circular-progress {
        margin-bottom: -40px;
    }

        .circular-progress:before {
            font-size: 3.5rem;
            line-height: 14rem;
            padding: 1em;
        }

        .circular-progress:after {
            line-height: 33rem;
        }

    .rango:after {
        font-size: 2.3rem;
    }

    .table-bordered > thead > tr > th {
        padding: 13px 18px;
        font-size: 16px;
    }
    .table-bordered > tbody > tr > td p.tbody__titulo { 
        font-size: 14px;
    }
    .table-bordered > tbody > tr > td {
        font-size: 16px;
        padding: 10px 30px;
    }
    .table-bordered > tbody > tr .tbody__valorProgreso {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .cabinaCali {
        margin: 45px auto 0px;
    }
    .cabinaCali__titulo {
        padding: 25px 40px 19px;
    }
    .cabinaCali__contenido {
        margin: 0 20px 50px;
    }
    .progresoRango__titulo {
        margin-top: 0;
    }
        .progresoRango__titulo p {
            font-size: 16px;
        }

    .progresoRango__semiCirculo {
        margin-top: 21px;
    }

    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 14.3rem;
        height: 14.3rem;
    }

        .circular-progress:before {
            font-size: 18px;
            line-height: 7.5rem;
            padding: 1.4em;
        }

        .circular-progress:after {
            line-height: 18rem;
        }
    .rango:after {
        font-size: 16px;
    }
    .cabinaCali__titulo p {
        font-size: 16px;
        line-height: 1;
    }
    .tablaInfoProgreso {
        margin: 18px auto 0;
    }
    .table-bordered > thead > tr > th {
        padding: 13px 15px;
        font-size: 12px;
    }
    .table-bordered > thead > tr > th p {
        font-size: 12px;
    }
        .table-bordered > thead > tr > th:nth-child(1) {
            width: 124px;
        }
    .table-bordered > tbody > tr > td p.tbody__titulo {
        font-size: 11px;
    }
    .table-bordered > tbody > tr > td p {
        font-size: 12px;
    }
    .table-bordered > tbody > tr .tbody__valorProgreso {
        font-size: 12px;
    }
    .table-bordered > tbody > tr > td {
        padding: 5px 5px 2.5px 5px;
    }
}
@media screen and (max-width: 320px){
    .progresoRango {
        padding: 21px 45px;
     }

    .cabinaCali__contenido {
        margin: 0 10px 41px;
    }
}
@media screen and (max-width: 280px) {
    .cabinaCali__titulo {
        padding: 25px 25px 19px;
    }

        .cabinaCali__titulo p {
            font-size: 14px;
        }

    .progresoRango {
        padding: 21px 21px 21px;
    }

    .progresoRango__titulo p {
        font-size: 12px;
    }

    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 12.3rem;
        height: 12.3rem;
    }

        .circular-progress:before {
            font-size: 16px;
            line-height: 6.5rem;
        }

        .circular-progress:after {
            line-height: 16rem;
        }
    .rango:after {
        font-size: 1.2rem;
    }

    .table-bordered > thead > tr > th {
        font-size: 11px;
        padding: 10px 5px;
    }

        .table-bordered > thead > tr > th:nth-child(1) {
            width: auto;
        }

        .table-bordered > thead > tr > th:nth-child(3) {
            width: 80px;
            padding: 0 5px;
        }

        .table-bordered > thead > tr > th p {
            font-size: 10px;
        }
}