﻿@import url("fonts-v2.css");

.SoliStockCDR {
    font-family: 'HurmeGeometricSans1 Bold';
    padding: 20px 40px;
    background-image: url(https://tienda.mundosantanatura.com/img/fondoSumaqWasi.jpg);
    min-height: 100vh;
}

.bloqueListaPedidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 35px;
}

.btnCrearPedido {
    font-weight: bold;
    background-color: #1FA438;
    color: white;
    transition: .5s background-color ease;
}

    .btnCrearPedido:hover {
        background-color: #198F34;
        color: white
    }

.bloqueTipoPago {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 11px;
}

.bloqueBtnCrearPedido {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*------------------------------NEW MODAL REGISTRAR STOCK-----------------------------------*/
.bloqueAgregarProd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.bloqueAgregarProd__dropdownProd {
    display: flex;
    grid-gap: 10px;
}

.bloqueAgregarProd__btnAgregar {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrarStock > .table-bordered > tbody > tr > td {
    border: none
}

.borderBottom {
    border-bottom: 1px solid #ddd !important;
}


.content-header h1 {
    color: #4d4d4d;
    text-align: center;
    margin-top: 50px
}

.bloqueSaldos__hijo {
    margin: 0 15px;
    background: #1c1c72;
    color: white;
    border-radius: 10px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .bloqueListaPedidos {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .bloqueSaldos{
        grid-column: 1 / -1;
    }
}

@media (max-width: 1110px) {
    .bloqueListaPedidos div:nth-child(2){
        flex-direction: column
    }
}

@media (min-width: 541px) {
    #exampleModal2 .modal-dialog {
        max-height: calc(100vh - 60px) !important;
    }
}

@media (max-device-width: 540px) {
    #exampleModal2 .modal-dialog {
        margin: 0;
    }
}

@media (max-device-width: 500px) {
    #exampleModal2 .modal-dialog .modal-content {
        max-height: calc(100vh - 50px) !important;
    }

    .content-header h1 {
        font-size: 26px;
        margin-top: 20px;
    }

    .bloqueListaPedidos{
        display: block
    }

        .bloqueListaPedidos h3 {
            font-size: 20px;
        }

    .bloqueTipoPago{
        display: flex
    }

    .SoliStockCDR {
        padding: 20px 0;
    }
    .bloqueTipoPago{
        padding-left: 0
    }

    #tbl_cdr_wrapper .row {
        width: max-content;
    }

}

@media (max-device-width: 414px) {
    .centrado {
        display: block;
    }
}

@media (max-device-width: 375px) {
    .bloqueAgregarProd {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .centrado {
        display: flex;
        justify-content: center;
        grid-gap: 10px;
    }

    .bloqueAgregarProd__dropdownProd {
        justify-content: center;
    }

    .saldoComi p, .saldoDispo p {
        font-size: 14px !important;
    }
}

@media (max-device-width: 280px) {
    .bloqueAgregarProd__dropdownProd {
        flex-direction: column;
        align-items: center;
    }

    .bloqueAgregarProd__btnAgregar {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .centrado {
        align-items: center;
    }
}

/*Para quitar el efecto hover que viene por defecto en el boostrap a los tr*/
.table-hover > tbody > tr:hover {
    background-color: white;
}

/*Para el input-number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-number {
    text-align: center;
    margin: 0 auto;
    float: left;
}

.cin-btn {
    background: transparent;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    background: transparent;
    display: block;
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.cin-btn-1 {
    display: inline-block;
}

.cin-btn-small {
    height: 1.5rem;
    width: 1.5rem;
}

.cin-btn-md {
    height: 3rem;
    width: 3rem;
}

.cin-btn-lg {
    height: 7rem;
    width: 7rem;
}

.cin-btn:active {
    background: #00A65A;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.cin-btn:focus {
    outline: none;
}

.cin-input {
    width: 30px;
    border: 0;
    box-shadow: inset 0 0 0 rgba(64, 150, 255, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    margin: 1rem 0;
    pointer-events: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tablaHeader hr {
    background: #1c1c72;
    color: white;
    text-transform: uppercase
}