﻿.bloqueTablaLorem {
    margin-top: 73px;
    padding: 76px 82px;
}

    .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__top {
        margin-bottom: 49px;
    }

        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__top span {
            font-weight: 700;
            font-size: 25px;
            line-height: .8;
            color: #153285;
            margin-bottom: 49px;
        }

    .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__body .dataTables_wrapper {
        display: flex;
        flex-direction: column;
        grid-row-gap: 29px;
    }

table.nowrap > thead > tr > th {
    background-color: var(--Light-primary);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 23px;
    text-align: center;
    vertical-align: middle;
}
table.nowrap > tbody > tr > td {
    color: #6D6D6D;
    text-align: center;
    background-color: white !important;
}
table.nowrap > tbody > tr > .sorting_1 {
    color: #6D6D6D;
    text-align: center;
    background-color: white !important;
}

#table_id > thead > tr > th:nth-child(1), #table_id2 > thead > tr > th:nth-child(1), #table_id3 > thead > tr > th:nth-child(1), #table_id4 > thead > tr > th:nth-child(1) {
    border-radius: 7px 0px 0px 0px;
}

#table_id > thead > tr > th:nth-last-child(1), #table_id2 > thead > tr > th:nth-last-child(1), #table_id3 > thead > tr > th:nth-last-child(1), #table_id4 > thead > tr > th:nth-last-child(1) {
    border-radius: 0px 7px 0px 0px;
}

.bloqueResumenVentas__sectionTables .sectionTablesBody div .dataTables_wrapper{

}


/*-------------------------------PARA LA PAGINACION------------------------------*/

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: 1px solid transparent;
    cursor: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--Medium-primary) !important;
}

#table_id_paginate .pagination {
    grid-gap: 8px;
    margin: 0 !important;
}

.pagination > .disabled > a {
    border: 0px solid #ddd !important;
    color: #A6A6A6 !important
}

ul.pagination > .paginate_button:nth-last-child(1) > a {
    border: 0px solid #ddd !important;
    padding: 6px 0 !important;
}

.pagination > li > a {
    border-radius: 4px;
    line-height: .8 !important;
    padding: 6.5px 8.5px !important;
    color: #3A3A3A !important;
    font-weight: 500;
}

.pagination > li:first-child > a {
    border: 0px solid #ddd;
    padding: 6px 0 !important;
}

.pagination > .active > a {
    color: #fff !important;
}

.pagination > li:not(.previous, .disabled, .next) > a {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*--------------------PARA EL INPUT BUSCAR----------------------*/
#table_id_wrapper > div:nth-child(1) > div:nth-child(2) > div > label > input::placeholder {
    background-image: url('../../img/Buscar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    color: #C4C4C4;
    font-size: 12px;
    word-spacing: 17px;
}

#table_id_filter > label, #table_id_length > label {
    margin-bottom: 0;
    font-weight: 400;
}

#table_id_filter > label {
    display: flex;
    justify-content: flex-start;
}

    #table_id_filter > label > input {
        border: 1px solid var(--Medium-primary);
        border-radius: 8px;
        padding: 0 13px;
        width: 189px;
        height: 36px;
    }

        #table_id_filter > label > input:focus {
            outline: none;
        }

        #table_id_filter > label > input:active {
            outline: none;
        }

@media (min-width: 1400px) {
    .bloqueTablaLorem {
        padding: 76px 15%;
    }
}

@media (max-width: 640px){
    .bloqueTablaLorem {
        padding: 41px 43px;
    }
        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__top {
            margin-bottom: 15px;
        }
}

@media (max-device-width: 499px){
    .bloqueTablaLorem {
        margin-top: 44px;
        padding: 41px 30px;
    }
        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__top span {
            font-size: 18px;
        }
        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__body .dataTables_wrapper > .row {
            margin: 0;
        }
        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__body .dataTables_wrapper > .row:nth-child(1) > div:nth-child(2) {
            padding: 0;
        }

        .bloqueTablaLorem .sectionTablaLorem .sectionTablaLorem__body .dataTables_wrapper > .row:nth-child(2) > div {
            padding: 0;
        }

    table.dataTable.nowrap > tbody > tr > td {
        font-weight: 400;
        color: #6D6D6D;
        font-size: 12px;
        text-align: center;
    }
}